
<html>
  <body>
<form  class="bordercss" >
    <table> 
      <tr>
        <td>
          <label> USERNAME</label>
        </td>
        <td>
          <input type="text" placeholder="USERNAME" name="n1">
        </td>
      </tr>
      <tr>
          <td>
            <label> PASSWORD</label>
          </td>
          <td>
            <input type="password" placeholder="PASSWORD">
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="SUBMIT">
          </td>
        </tr>
    </table>
  </form> 
</body>
</html>

