.bordercss
{
  
    border-style: none;
    border-radius: 25px;
    background: rgb(206, 216, 215);
    padding: 20px; 
    padding-top: 30px;
    width: 280px;
    height: 130px; 
    margin-left: 450px;
}
