<h1 align="center">
  List of Courses is:-
</h1>

<ul>
  <li> All subjects from 1 to 10 </li>
  <li> 11th class </li>
  <ul>
    <li> Maths </li>
    <li> Physics </li>
    <li> Chemistry </li>
    <li> C++ </li>
    <li> English </li>
    <li> Information Practices ( IP ) </li>
  </ul>
  <li> 12th class </li>
  <ul>
    <li> Maths </li>
    <li> Physics </li>
    <li> Chemistry </li>
    <li> English </li>
    <li> C++ </li>
    <li> Information Practices ( IP ) </li>
  </ul>
  <li> HTML & CSS </li>
  <li> PHP </li>
  <li> SQL </li>
  <li> Node JS </li>
  <li> SQL </li>
  <li> Angular 4  </li>
  <li> Mongo DB </li>
  <li> Javascript </li>
  <li> JQuery </li>
</ul>
<div>
  <div></div>
</div>
