<a routerLink='/'>  <<<< BACK  </a>

<h3> UPDATE PRODUCT </h3>


<form id="formNewproduct"
      name="formNewproduct"
      #productData="ngForm"
      (ngSubmit)="updateProduct(productData.value)">

  <label>name ::</label>
  <input type="text" 
        name="name"
        id="name"
        placeholder="name"
        [(ngModel)]="data.name"
        ngModel >

  <label>Username ::</label>
  <input type="text" 
        name="username"
        id="username"
        placeholder="username"
        [(ngModel)]="data.username"
        ngModel >

        <input type="submit" value="Udate Product">
</form>

