<table>
   <tr>
     <td>
        <h1>
          welcome {{g}}
        </h1>
     </td>
    <td>
      <a routerLink='/update'>   
         <input type="button" name="update" value="MANAGE USER">
      </a>
    </td>
    <td>
    <a routerLink=''>   
      <input type="button" name="update" value="LOGOUT" (click)=logout() > 
    </a>
    </td>
    <td>
        <a routerLink='/attendence'>   
        <input type="button" name="list" value=" VIEW ATTENDENDENCE DETAILS ">
        </a>
    </td>
    <td>
        <a routerLink='/entry'>   
        <input type="button" name="list" value="TAKE ATTENDENDENCE">
        </a>
    </td>
  </tr>
</table>
<h2 align="center">
  ABOUT US
</h2>