<h1 align="center">
  Profile Site 
</h1 >
<h2 align="center">
<table align="center">
  <tr>
    <td style="padding-left:50px;">  
        <a routerLink="about_us"> About Us</a> 
    </td>
    <td style="padding-left:90px;">
        <a routerLink="course">Courses </a> 
    </td>
    <td style="padding-left:90px;">
            <a routerLink="register">Register</a>
    </td>
    <td style="padding-left:90px;">
            <a routerLink="contact_us">Contact Us</a>
    </td>
  </tr>
</table>
</h2>
<div >
<router-outlet></router-outlet>
</div>