<h1 align="center">Registration Form</h1>

<div align="center">
<form [formGroup]="rforms" (ngSubmit)=Submit_here(rforms.value)>
  <tr>
    <td>Name : </td>
    <td>
        <input type="text" name="name" formControlName="name" placeholder ="Enter your name "><br>
    </td>
  </tr>
  <tr>
    <td>Age :</td>
    <td>
        <input type="text" name="age" formControlName="age" placeholder="Enter your age"><br>
    </td>
  </tr>
  <tr>
    <td> Class :</td>
    <td>
        <select formControlName="class">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>BCA</option>
            <option>BBA</option>
            <option>MCA</option>
            <option>MBA</option>
            <option>B-Tech</option>
            <option>M-Tech</option>
          </select> <br>
    </td>
  </tr>
  <tr>
    <td >Sex :</td>
    <td>
        Male : <input type="radio" name="sex" value="male" formControlName="sex">
        Female : <input type="radio" name="sex" value="female" formControlName="sex"> <br>
    </td>
  </tr>
  <tr>
    <td>Address :</td>
    <td>
        <textarea rows="2" cols="22" formControlName="address" placeholder="Enter address"></textarea><br>
    </td>
  </tr>
  <tr>
    <td>Email Address :</td>
    <td>
        <input type="text" name="email" formControlName="email" placeholder="Enter your E-mail"> <br>
    </td>
  </tr>
  <tr colspan="2">
    <td><br>
      <button type="submit" name="submit" >Submit Here !!!</button>
    </td>
  </tr>
</form>
</div>