<html>
    <body>
      <form class="borderc">
        <table>
        <tr>
           <td> <label>Name</label> </td>
          <td ><input type="text" placeholder="Name"></td>
        </tr>
        <tr><td><label>Age</label></td>
        <td><input type="text" placeholder="age"></td>
      </tr>
      <tr>
        <td><label>Email - ID</label></td>
        <td><input type="text" placeholder="email"></td>
      </tr>
      <tr>
        <td> <label>Username</label></td>
        <td> <input type="text" placeholder="username"></td>
      </tr>
      <tr>
          <td><label>Password</label> </td>
          <td> <input type="password" placeholder="password"></td>
      </tr>
      <tr>
        <td><label>Confirm Password</label></td>
        <td><input type="password" placeholder="confirmpassword"></td>
      </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" value="Submit Form"></td>
        </tr>
      </table>
      </form>
    </body>
  </html>
  