<form [formGroup]="forms" (ngSubmit)="SubmitHere(forms.value)">
  <div *ngFor="let inputdata of inputdata">
      <app-data-child [inputdata]="inputdata" [forms]="forms"></app-data-child>
  </div>
  <div>
      <button type="submit" [disabled]="!forms.valid">Submit Here</button>
  </div>
  <br>
  <div *ngIf="message">
      <strong>Entered values are : </strong><br>{{message}}
      <br>
      <strong>Entered values are :</strong><br>{{msg}}
<br>
    </div>
</form>



    <table border="1px">
        <tr>
            <td>NAME</td>
            <td>AGE</td>
            <td>COMMENT</td>
            <td>HOBBIES</td>
            <td>QUALIFICATION</td>
        </tr>
        <tr *ngFor="let l of list"> 
            <td>{{ l.name }}</td>
            <td>{{ l.age }}</td>
            <td>{{ l.comment }}</td>
            <td>{{ l.Enter_hobbies_Details }}</td>
            <td>{{ l.qualification }}</td>
        </tr>
    </table>