<a routerLink='/home' >   
  <input type="button" name="return" value="BACK TO HOME PAGE">
  </a>
  <h1 align="center"> STUDENT ATTENDENCE</h1>

<table align="center">
  <form [formGroup]="eform" (ngSubmit)=onSubmit(eform.value)>
    <tr>
      <td>
        <input type="text" name="name" placeholder="Name of the Student" formControlName="name">
      </td>
    </tr>
    <tr>
        <td>
          <input type="text" name="age" placeholder="Age of the Student" formControlName="age">
        </td>
      </tr>
      <tr>
          <td>
            <input type="text" name="address" placeholder="Address of the Student" formControlName="address">
          </td>
        </tr>
        <tr>
            <td>
              <select name="class" formControlName="class">
                <option value="1">1st class</option>
                <option value="2">2nd class</option>
                <option value="3">3rd class</option>
                <option value="4">4th class</option>
                <option value="5">5th class</option>
                <option value="6">6th class</option>
                <option value="7">7th class</option>
                <option value="8">8th class</option>
                <option value="9">9th class</option>
                <option value="10">10th class</option>
                <option value="11">11th class</option>
                <option value="12">12th class</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <select name="status" formControlName="status">
                  <option value="Present">Present</option>
                  <option value="Absent">Absent</option>
              </select>
            </td>
          </tr>
          <tr>
              <td>
                <input type="date" name="date" placeholder="Choose Date" formControlName="date">
              </td>
            </tr>
            <tr colspan="2" align="center">
                <td>
                  <input type="submit" value="submit" name="submit" [disabled]="!eform.valid">
                </td>
            </tr>
  </form>
</table>