
<div [formGroup]="forms">
    <label [attr.for]="inputdata.key" style="font-size: 17px;">
        <u>
                {{inputdata.key}}
        </u>
    </label>

    <div [ngSwitch]="inputdata.controlType">
            {{inputdata.name}}
            <input *ngSwitchCase="'textbox'" 
                                [name]="inputdata.name"
                                formControlName="{{inputdata.name}}"
                                [id]="inputdata.key" 
                                [type]="inputdata.type">

            <div *ngSwitchCase="'radio'" >
                <div *ngFor='let r of inputdata.options' >
                  <input *ngSwitchCase="'radio'" 
                                [formControlName]="inputdata.name"
                                [id]="inputdata.key" 
                                [name]="inputdata.name" 
                                [type]="inputdata.type" 
                                [value]='r.value'> 
                    {{r.key}} 
                </div>
            </div>            

            <div *ngSwitchCase=" 'checkbox' ">
                <div *ngFor="let d of forms.get(inputdata.key).controls;let i=index;"> 
                    <input (change)="checkBoxClicked($event,inputdata.options[i])"
                                [formControl]="d"
                                [type]="inputdata.type">                   
                    {{inputdata.options[i].key}}              
                </div>
            </div> 
        </div>
        <hr>
    </div>
<div class="errorMessage" *ngIf="!isValid">
    {{inputdata.label}} is required
</div>